* {
    background: #020204;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.header {
    display: flex;
    align-items: center;
    
}


.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 5%;
}

.header_menu_inicio{
    display: flex;
    font-size: 15px;
    
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    border: none;
    color: #22b455;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder {color: #22b455;}
    .text-area:focus {
        outline: none;
    }

.mensaje {
    background: #0c0c0c;
    background-image: url("/imagenes/encriptado.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #22b455;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position:fixed;

}
.mensaje:focus {
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;

}

.btn-encriptar {
    border:1px solid #c501e2;
    border-radius: 24px;
    color: #c501e2;
    cursor:pointer;
    height: 67px;
    width: 328px;
}

.btn-desencriptar {
    border: 1px solid #e7c500;
    border-radius: 24px;
    color:#e7c500;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.copiar {
    border: 1px solid #5800FF;
    border-radius: 24px;
    color: #5800FF;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
}


.informacion {
    color: #495057;
    font-size: 18px;
    
}



